@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 400;
    src: url('Segoe UI.ttf') format('ttf');
}
@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 700;
    src: url('Segoe UI Bold.ttf') format('ttf');
}
@font-face {
    font-family: 'SegoeUI';
    font-style: italic;
    font-weight: 700;
    src: url('Segoe UI Bold Italic.ttf') format('ttf');
}
@font-face {
    font-family: 'SegoeUI';
    font-style: italic;
    font-weight: 400;
    src: url('Segoe UI Italic.ttf') format('ttf');
}